@using BGHub.Models

<li class="list-group-item d-flex align-items-center position-relative">
    <img src="@Game.ImageUrl" alt="@Game.Name" class="rounded me-3" width="50">
    <div>
        <strong>@Game.Name</strong>
        <p class="text-muted mb-0">BGG ID: @Game.BGGId</p>
    </div>
    <DeleteGame Id="@Game.Id" Name="@Game.Name" OnDeleteGame="RemoveGameFromCollection"/>
</li>

@code {
    [Parameter] public Game Game { get; set; }

    [Parameter] public EventCallback<int> OnDeleteGame { get; set; }

    private async Task RemoveGameFromCollection(int id)
    {
        await OnDeleteGame.InvokeAsync(id);
    }
}
